
# Fine-tuned model configuration
MODEL_NAME=../gguf_model/unsloth.q4_k_m.gguf
MAX_SEQ_LENGTH=16384
LOAD_IN_4BIT=True
DEVICE=cuda
# Specify how many layers to load onto the GPU (-1 means all layers). Lower it if you get Out Of Memory errors.
N_GPU_LAYERS=-1

# Server configuration
PORT=5000
